/* src/components/Button/Button.css */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .btn-azul {
    background-color: blue;
    color: white;
  }
  
  .btn-vermelho {
    background-color: red;
    color: white;
  }
  
  .btn:hover {
    opacity: 0.8;
  }